* {
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.gridContainer {
  display: grid;
  grid-template: 80px 50px 400px 340px 340px 400px 370px 370px 250px 50px/100%;
  height: 100%;
  grid-template-areas: "header" "menu" "hero" "hello" "services" "special" "articles" "testimonials" "contactMe" "social";
}
.header {
  grid-area: header;
  height: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.menu {
  grid-area: menu;
}
.hero {
  grid-area: hero;
}
.hello {
  grid-area: hello;
}
.services {
  grid-area: services;
  background-color: #f3f3f3;
}
.special {
  grid-area: special;
}
.articles {
  grid-area: articles;
}
.testimonials {
  grid-area: testimonials;
}
.contactMe {
  grid-area: contactMe;
  background-color: #f3f3f3;
}
.social {
  grid-area: social;
}
.grid {
  width: 80%;
  margin: 0 auto;
}
/*List Class*/
.listClass {
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.listClass li {
  list-style: none;
  margin: 5px;
  padding: 8px;
}
.listClass li a i::before {
  font-size: 20px;
  color: #a4c348;
}
.listClass li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}
.listHover li a:hover {
  border-bottom: 2px solid #a4c348;
  border-top: 2px solid #a4c348;
  color: #a4c348;
  padding: 5px 0;
}
/*header*/
.logo img {
  max-width: 100px;
  height: auto;
}
/*hero*/
.slider {
  display: block;
  width: 100%;
  height: 400px;
  background-color: #1f1f1f;
  overflow: hidden;
  position: absolute;
}
.slider >* {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  animation: slide 12s infinite;
  overflow: hidden;
}
.slide:nth-child(1) {
  left: 0;
  animation-delay: -1s;
  background-image: url("..//img/hero1.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide:nth-child(2) {
  animation-delay: 2s;
  background-image: url("..//img/hero2.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide:nth-child(3) {
  animation-delay: 5s;
  background-image: url("..//img/hero3.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide:nth-child(4) {
  animation-delay: 8s;
  background-image: url("..//img/hero4.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide p {
  font-size: 14px;
  color: #fff;
  display: inline-block;
}
/*titles*/
.titleH2 {
  color: #a4c348;
  font-size: 26px;
  text-align: center;
}
/*paraghrap*/
.simpleP {
  margin: 12px 0;
  font-size: 16px;
  line-height: 24px;
}
.white {
  color: #fff;
}
/*hello*/
.columnContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  max-width: 100%;
}
.oneH,
.twoH {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}
.button {
  background-color: #a4c348;
  margin: 16px auto;
  padding: 8px;
  border-radius: 10px;
  width: 130px;
  height: 50px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
/*Services*/
.description {
  margin-top: 35px;
}
.containerServices {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  max-width: 100%;
}
.services1,
.services2,
.services3 {
  width: calc(100% / 3);
  margin: 5px;
  text-align: center;
}
.iconServices {
  font-size: 26px;
}
/*Special*/
.imgSpecial {
  background-image: url("..//img/fruits.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.textSpecial {
  width: 60%;
  margin: 50px auto;
  padding: 30px 0;
  background-color: rgba(0,0,0,0.6);
  border: 1px solid #fff;
  text-align: center;
}
/*recetas*/
.a-receta a {
  text-decoration: none;
  color: #a4c348;
  cursor: pointer;
  font-size: 18px;
}
/*imgTestimonials*/
.imgTestimonials {
  background-image: url("..//img/smile.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Form*/
.titleContact {
  margin: 30px auto 0;
}
.form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  height: 200px;
}
.formName {
  padding: 8px;
  margin: 12px;
  border-radius: 5px;
  border: 1px solid #a4c348;
  width: 220px;
}
@keyframes slide {
  0% {
    left: 100%;
    width: 100%;
  }
  5% {
    left: 0;
  }
  25% {
    left: 0;
  }
  30% {
    left: -100%;
    width: 100%;
  }
  30.0001% {
    left: -100%;
    width: 0;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
