.flex{
    display: flex;
}
.flex-center{
    @extend .flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    @extend .flex;
    justify-content: space-between;
    align-items: center;
}
.flex-around{
    @extend .flex;
    justify-content: space-around;
    align-items: center;
}
.flex-evenly{
    @extend .flex;
    justify-content: space-evenly;
    align-items: center;
}