@import '_variables';

.img-front{
    width: 100%;
    height: 300px;
}
.parallax{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.img-space{
    margin: $margin;
    padding: $padding;
}
.img-1{
    @extend .parallax;
    background-image: url(../assets/hero1.jpg);
}
.img-2{
    @extend .parallax;
    background-image: url(../assets/hero2.jpg);
}
.img-3{
    @extend .parallax;
    background-image: url(../assets/hero3.jpg);
}
.img-4{
    @extend .parallax;
    background-image: url(../assets/hero4.jpg);
}