@import '_variables.scss';

.list-vertical{
    list-style: none;
}
.list-vertical li {
    margin: 4px;
    padding: 4px;
}
.list-vertical li a{
    text-decoration: none;
}
// Text align
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.menu-style:hover{
    border-top: 2px solid $color-verde-base;
    border-bottom: 2px solid  $color-verde-base;
    padding: 4px;
    color: $color-verde-base;
}
.title{
    color: $color-verde-base;
    font-weight: 700;
    padding: $padding-title;
}
.titleH1{
    @extend .title;
    font-size: $size-h1;
}
.titleH2{
    @extend .title;
    font-size: $size-h2;
}
.description-text{
    font-size: $texto-normal;
    color: $color-fuente;
}