// colores base

// colores de fuentes
$color-fuente: #707070;
$color-verde-base: #a4c348;
// colores de fondos

// medidas de fuentes
$texto-little: 12px;
$texto-normal: 14px;
$texto-grande: 16px;
$size-h2: 18px;
$size-h1: 24px;

//paddings 
$padding-title-top: 24px;
$padding-title-bottom: 12px;
