// colores base

// colores de fuentes
$color-fuente: #707070;
$color-verde-base: #a4c348;
$color-blanco-fondo: #FFF;
// colores de fondos

// medidas de fuentes
$texto-little: 12px;
$texto-normal: 14px;
$texto-grande: 16px;
$size-h3: 16px;
$size-h2: 18px;
$size-h1: 24px;

//paddings and margins
$padding-title: 12px 0 24px 0;
$padding: 4px;
$margin: 4px;

// border
$border: 1.5px solid $color-verde-base;

// border radius
$radius: 8px;
