.logo{
  max-height: 60px;
}
.parallax{
  background-repeat: no-repeat;
  background-position-x: bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 350px;
}
// imagenes parallax
.img-parallax1{
  background-image: url(..//assets/hero.jpg);
}
.img-parallax2{
  background-image: url(..//assets/hero2.jpg);
}
.img-parallax3{
  background-image: url(..//assets/hero3.jpg);
}
.img-parallax4{
  background-image: url(..//assets/hero4.jpg);
}
.main-title{
  background-color: rgba(255, 255, 255, .7);
  width: 50%;
  height: 30%;
}
.container-icon{
  max-width: 100%;
}
.icon{
  font-size: 68px;
}
.icon-social{
  font-size: 32px;
}
.profile{
  max-width: 100%;
}
.space{
  height: 60px;
}
.main-menu{
  height: 70px;
}
.list-menu{
  display: inherit;
}
.list-style-none{
  list-style: none;
}
header{
  position: fixed;
  z-index: 3;
  width: 100%;
}
.responsive-button{
  display: none !important;
}
@media  screen and(max-width: 768px){
  .responsive-button{
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 12;
    font-size: 24px;
    cursor: pointer;
    display: block!important;
  }
  .list-menu{
    background-color: rgba(255, 2550, 255, .8);
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    display: block;
    padding-top: 20%;
    transition: 0.5s ease-in-out;
    width: 70%;
    height: 80vh;
  }
  .active{
    right: 0;
  }
  .list-menu li a:hover{
    font-size: 24px;
  }
}