//- hero
.container-fluid#home
  .row
    .col.parallax.img-parallax1.d-flex.align-items-center.justify-content-center
//- servicios
.space#servicios
.container.pt-4.mb-4
  .row
    .col-sm-12
      h1.text-center Nutriendo la vida
      p.text-center Vivir es una aventura y brindar a esa aventura los recursos necesarios para disfrutarla al máximo es lo que me despierta cada día. Necesitas ¿Subir peso? ¿tienes intolerancias alimentos? ¿tienes alergias alimentos?¿tienes celiaquía? permiteme acompañarte en este proceso, descubriendo la nueva forma de alimentarte y nutrirte, con los siguientes pasos:
  .row.text-center
    .col-sm-12.col-md-4
      i.fab.fa-nutritionix.icon.text-success
      h3 Jornadas nutricionales
    .col-sm-12.col-md-4
      i.fas.fa-id-card.icon.text-success
      h3 Asesorías personalizadas
    .col-sm-12.col-md-4
      i.fas.fa-comment-medical.icon.text-success
      h3 Conferencias y talleres
  .row.text-center.mt-4
    .col-sm-12.col-md-6
      i.fas.fa-vial.icon.text-success
      h3 Servicio de laboratorio
    .col-sm-12.col-md-6
      i.fas.fa-clipboard-list.icon.text-success
      h3 Seguimiento intermitente

//- hero-two
.container-fluid
  .row
    .col.parallax.img-parallax2
//- recetas
.space#recetas
.container.mt-4.mb-4
  .row
    .col
      h2.text-center Recetas que te nutren la vida
  .row
    .col-sm-12.col-md-4
      .card.mb-2
        img.card-img-top(src="./assets/pancakes.jpg", alt="Panqueques de Avena")
        .card-body
          h5.card-title Panqueques de Avena
          p.card-text Nutritivos y sin gluten. 
          a.btn.btn-success.text-light Vamos a la receta
    .col-sm-12.col-md-4
      .card.mb-2
        img.card-img-top(src="./assets/ensalada.jpg", alt="Ensalada veraniega")
        .card-body
          h5.card-title Ensalada veraniega
          p.card-text Fresca, proteinica y veraniega. 
          a.btn.btn-success.text-light Vamos a la receta.
    .col-sm-12.col-md-4
      .card.mb-2
        img.card-img-top(src="./assets/tea.jpg", alt="Té energetico")
        .card-body
          h5.card-title Té energetico
          p.card-text Llena tus mañanas de sabor y energía.
          a.btn.btn-success.text-light Vamos a la receta
//- otro parallax
.container-fluid
  .row
    .col.parallax.img-parallax3
//- universidad
.space#universidad
.container-fluid.pt-4
  .container.mb-2
    .row
      .col-sm-2.col-md-3
        img(src="./assets/uspg.png", alt="Cursos en Universidad San Pablo de Guatemala")
      .col-sm-12.offset-md-1.col-md-8
        h3 Especialización de transformación de alimentos
        p Escuela de Ganadería. Catedrática y coordinadora universitaria.
        a.btn.btn-success.text-light Material del Curso
//- otro parallax
.container-fluid
  .row
    .col.parallax.img-parallax4
//- acerca de 
.space#acercade
.container.mt-2
  .row
    .col-sm-3.col-md-3
      img.profile.mt-2.rounded.border.border-success(src="./assets/gabrielaEstrada.jpg", alt="Gabriela Estrada | Nutricionista - Dietista - Especialista en Alergologia")
    .col-sm-9.col-md-9
      h3 Acerca de Gabriela Estrada
      ul
        li Licenciada en Nutrición por Universidad Rafael Landivar de Guatemala
        li Especialista en alergias alimentarias, dietas de eliminación y celiaquía.
        li Certificada por el BID / UNICEF para salud pública en primera infancia.
        li Más de 10 años de experiencia como consultora y coach en industria alimentaria.
        li Fundadora de Nutriendo la Vida, así como sus proyectos de laboratorio, jornadas nutricionales, talleres, charlas y asesorías personalizadas.
//- escribeme