//- hero
.container-fluid#home
  .row
    .col.parallax.img-parallax1.d-flex.align-items-center.justify-content-center
//- servicios
.space#servicios
.container.pt-4.mb-4
  .row
    .col-sm-12
      h1.text-center Nutriendo la vida
      p.text-center Vivir es una aventura y brindar a esa aventura los recursos necesarios para disfrutarla al máximo es lo que me despierta cada día. Necesitas ¿Subir peso? ¿tienes intolerancias alimentos? ¿tienes alergias alimentos?¿tienes celiaquía? permiteme acompañarte en este proceso, descubriendo la nueva forma de alimentarte y nutrirte, con los siguientes pasos:
  .row
    .col-sm-12.col-md-4
      .container-icon.d-flex.align-items-center.justify-content-center
        i.fas.fa-weight.icon.mb-1.text-success
      h2.text-center.mt-2 Evaluación Diagnostica
      p.text-center Estado nutricional, elaboración de gráficas de OMS.
    .col-sm-12.col-md-4
      .container-icon.d-flex.align-items-center.justify-content-center
        i.far.fa-chart-bar.icon.mb-1.text-success
      h2.text-center.mt-2 Estado Nutrional
      p.text-center Necesito la descripción de los/algunos indicadores de estado. 
    .col-sm-12.col-md-4
      .container-icon.d-flex.align-items-center.justify-content-center
        i.far.fa-check-square.icon.mb-1.text-success
      h2.text-center.mt-2 Plan Alimenticio
      p.text-center De acuerdo a la edad, los objetivos, las restricciones, los alimentos preferidos. 
//- hero-two
.container-fluid
  .row
    .col.parallax.img-parallax2
//- recetas
.space#recetas
.container.mt-4.mb-4
  .row
    .col
      h2.text-center Recetas que te nutren la vida
  .row
    .col.sm-12.col-md-4
      .card.mb-2
        img.card-img-top(src="..//assets/pancakes.jpg", alt="Panqueques de Avena")
        .card-body
          h5.card-title Panqueques de Avena
          p.card-text Nutritivos y sin gluten. 
          a.btn.btn-success.text-light Vamos a la receta
    .col.sm-12.col-md-4
      .card.mb-2
        img.card-img-top(src="..//assets/ensalada.jpg", alt="Ensalada veraniega")
        .card-body
          h5.card-title Ensalada veraniega
          p.card-text Fresca, proteinica y veraniega. 
          a.btn.btn-success.text-light Vamos a la receta.
    .col.sm-12.col-md-4
      .card.mb-2
        img.card-img-top(src="..//assets/tea.jpg", alt="Té energetico")
        .card-body
          h5.card-title Té energetico
          p.card-text Llena tus mañanas de sabor y energía.
          a.btn.btn-success.text-light Vamos a la receta
//- otro parallax
.container-fluid
  .row
    .col.parallax.img-parallax3
//- universidad
.space#universidad
.container-fluid.pt-4
  .container.mb-2
    .row
      .col-sm-3
        img(src="..//assets/uspg.png", alt="Cursos en Universidad San Pablo de Guatemala")
      .col-sm-9
        h3 Nombre del Curso 
        p Descripción del curso. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error odit earum, illum doloribus omnis necessitatibus voluptates hic modi unde repudiandae aut laborum, dicta nesciunt, excepturi sequi nemo iste corrupti quia.
        a.btn.btn-success.text-light Material del Curso
//- otro parallax
.container-fluid
  .row
    .col.parallax.img-parallax3
//- acerca de 
.space#acercade
.container.mt-2
  .row
    .col-sm-12.col-md-3
      img.profile.mt-2.rounded.border.border-success(src="..//assets/gabrielaEstrada.jpg", alt="Gabriela Estrada | Nutricionista - Dietista - Especialista en Alergologia")
    .col.col-md-9
      h3 Acerca de Gabriela Estrada
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit earum officia doloremque, natus vitae vel unde optio culpa nihil nesciunt dicta deleniti, modi eos facilis voluptatibus delectus dignissimos quaerat reprehenderit?
//- escribeme