footer#footer
  .container.mt-4.mb-4
    .row
      .col
        p Sigueme
        a(href="")
          img.icon.mr-1.mb-1(src="..//assets/fb.svg", alt="")
        a(href="")
          img.icon.mr-1.mb-1(src="..//assets/ins.svg", alt="")
      .col
        p Escribeme
        a(href="mailto:nutricion@gabrielaestrada.com")
          img.icon.mr-1.mb-1(src="..//assets/email.svg", alt="")
