footer.space#footer
  .container.mt-4.mb-4
    .row
      .col.text-center
        p Sigueme y platiquemos:
        a(href="https:www.facebook.com/nutriendolavidagt")
          i.fab.fa-facebook-square.icon-social.mb-1.mr-2.text-success
        a(href="")
          i.fab.fa-instagram.icon-social.mb-1.mr-2.text-success
        a(href="mailto:nutricion@gabrielaestrada.com")
          i.far.fa-envelope.icon-social.mb-1.mr-2.text-success
