header
  i.fas.fa-bars.responsive-button.d-none.d-sm-block.d-md-none.text-success
  nav.d-flex.main-menu.justify-content-between.align-items-center.bg-white
    a.m-2(href="#")
      img.logo(src="./assets/logo.png", alt="Nutriendo la vida", srcset="")
    ul.list-style-none.mb-0.ml-0.mr-2.list-menu.text-center
      li.m-2
        a.text-decoration-none.text-success(href="#home") Home
      li.m-2
        a.text-decoration-none.text-success(href="#servicios") Servicios
      li.m-2
        a.text-decoration-none.text-success(href="#recetas") Recetas
      li.m-2
        a.text-decoration-none.text-success(href="#universidad") Universidad
      li.m-2
        a.text-decoration-none.text-success(href="#acercade") Acerca de
      li.m-2
        a.text-decoration-none.text-success(href="") Blog
      li.m-2
        a.text-decoration-none.text-success(href="#footer") Escribeme