.menu-container.navbar-fixed
  nav.light-blue
    .container.nav-wrapper
      a(href="" class="brand-logo right")
        img(src="./assets/logo.png", alt="Nutriendo la vida", srcset="", class="logo")
      ul(id="nav-mobile" class="left") 
        li
          a(href="") Sass
        li
          a(href="") Badges
        li
          a(href="") JS